.app {
    height: 100%;
    width: 100%;
    /* color: white; */
    color: black;
    /* background-color: #f8f8f8; */
    /* background-color: rgba(26, 91, 156, 0.61); */
    background-color: white;
    font-family: Book Antiqua;
    background-size: cover;
    margin-top: 50px;
}
