.homepage {
  /* width: 50%;
  margin-left: 25%; */
  display: block;
  position: relative;

}

.name {
  position: relative;
  animation: nameAnim 7s;
  animation-direction: normal;
  /* animation-delay: 3s; */
}

.logo-img {
  height: 500px;
  width:500px;
  margin-left: 40%;
  /* display: inline; */
  /* float: right; */
  /* margin-top: 0%; */
  position: relative;
  animation-name: logoAnim;
  animation-duration: 5s;
  /* opacity:0; */
  animation-iteration-count: infinite;
}
.bart-img {
  border-radius: 10px;
  /* height: 300px;
  width:400px; */
}

@keyframes nameAnim {
  0% {opacity:0}
  100% {opacity:1}
}

@keyframes logoAnim {
  0% {transform: scale(.8); opacity:1}
  50% {transform: scale(1); opacity:1}
  100% {transform: scale(.8); opacity:1}
}
