div.sidebar {
  position: sticky;
  top: 0
}

.sidebar-col {
  margin-top: 50px;
  text-decoration: none !important;
  margin-left: 8%;

}

.sidebar-col:hover  {
  font: 15px;
  color: pink !important;
}
